<div class="paymentFormSection row">
    <div class="row methodFormContainer">

        <div class="formHeading row">
            <div class="heading">Confirmation</div>
            <div class="para col">

                <p>We are getting to the end. Just few clicks and your rental is ready!</p>
                <div class="steps">Step 4 of 4</div>
            </div>
        </div>
        <div class="formContainer row">
            <div class="pickUp col">
                <input type="radio" name="pickUpButton" id="pickUpButton" class="radioRental">
                <label for="pickUpButton" class="paymentLabe">Credit Card</label>
                <img src="./Visa.png" alt="">
            </div>
            <form class="col">
                <div class="row">
                    <div class="userName inputRow">
                        <label for="userName" class="paymentLabe">Card Number</label>
                        <input type="text" id="userName" placeholder="Card number" class="paymentMethodInput">
                    </div>
                    <div class="userAddress inputRow">
                        <label for="address" class="paymentLabe">Card Holder</label>
                        <input type="" id="address" placeholder="Card holder" class="paymentMethodInput">
                    </div>
                </div>
                <div class="row">
                    <div class="userPhone inputRow">
                        <label for="phoneNum" class="paymentLabe">Expration Date</label>
                        <input type="tel" name="phoneNum" id="phoneNum" placeholder="DD / MM / YY"
                            class="paymentMethodInput">
                    </div>
                    <div class="userCity inputRow">
                        <label for="city" class="paymentLabe">CVC</label>
                        <input type="text" id="city" placeholder="CVC" class="paymentMethodInput">
                    </div>
                </div>
            </form>

        </div>
        <div class="payPal  col">
            <input type="radio" name="pickUpButton" id="pickUpButton" class="radioRental">
            <label for="pickUpButton" class="paymentLabe">Credit Card</label>
            <img src="./PayPal.png" alt="">
        </div>
        <div class="payPal  col">
            <input type="radio" name="pickUpButton" id="pickUpButton" class="radioRental">
            <label for="pickUpButton" class="paymentLabe">Bitcoin</label>
            <img src="./bitcoin.png" alt="">
        </div>
    </div>
</div>