<div class="footerSection">
    <div class="footerContainer">
        <div class="footerDiscripContainer">
            <div class="footerLogo">
                <img src="./logoW.png" alt="">
            </div>
            <div class="footerDiscrip">
                Lorem ipsum dolor sit amet consectetur. Sit mi dolor nullam faucibus molestie. Quis mauris at eget risus
                mattis ornare. Nec lorem in et sapien tristique neque vivamus. Egestas tempus facilisis in habitant
                vitae.
            </div>
        </div>
        <div class="footerLinksContainer">
            <div class="aboutContainer">
                <h2>About</h2>
                <ul>
                    <li><a href="/#">How it works</a></li>
                    <li><a href="/#">Terms and Conditions</a></li>
                    <li><a href="/#">Privacy Policy</a></li>
                    <li><a href="/#">About Us</a></li>
                </ul>
            </div>
            <div class="importLinksContainer">
                <h2>Important Links</h2>
                <ul>
                    <li><a href="/#">Vehicle Listing</a></li>
                    <li><a href="/#">Contact Us</a></li>
                </ul>
            </div>
            <div class="socialContainer">
                <h2>Socials</h2>
                <ul>
                    <li><a href="/#">Instagram</a></li>
                    <li><a href="/#">Twitte</a></li>
                    <li><a href="/#">Facebook</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="copyRight">©2023 CharterCar. All rights reserved</div>
</div>

