<section class="favouriteSection">
    <div class="favouriteContainer row">
<div class="favHeading">
    <h2>Favourite</h2>
</div>
<div class="favCarsCard col">
     @for (item of FavouriteCars; track $index ; ) {
            <app-cars-card 
            [carDataGetted]="item"
            [carName]="item.title"
            [carId]="item.carId"
            [isVisible]="item.isFavorite"
            [pkr]="item.pricePerDay" [carImg]="item.imageUrl"
            [tankCapacity]="item.tankCapacity"
            [transmission]="item.transmission"
            [sittingCapacity]="item.sittingCapacity"
            [isFavouritePage] = "true"
            ></app-cars-card>
            }
</div>
    </div>
</section>
