<div class="paymentFormSection row">
    <div class="row methodFormContainer " style="width: 95%;">

        <div class="formHeading row">
            <div class="heading">Confirmation</div>
            <div class="para col">
                <p>We are getting to the end. Just few clicks and your rental is ready!</p>
                <div class="steps">Step 4 of 4</div>
            </div>
        </div>

        <div class="payPal  col">
            <input type="checkbox" name="pickUpButton" id="pickUpButton" class="agreeCheck">
            <p>I agree with sending an Marketing and newsletter emails. No spam, promissed!</p>
        </div>
        <div class="payPal  col">
            <input type="checkbox" name="pickUpButton" id="pickUpButton" class="agreeCheck">
            <p>I agree with our terms and conditions and privacy policy.</p>
        </div>
        <button class="rentBtn">Rent Now</button>
        <div class="layer">
            <img src="./Layer.png" alt="">
        </div>
        <div class="formHeading row agreeHeading" style="gap: 2rem;">
            <div class="heading">All your data are safe</div>
            <div class="para col">
                <p>We are using the most advanced security to provide you the best experience ever.</p>
            </div>
        </div>
    </div>
</div>