<div class="paymentFormSection row">
    <div class="row methodFormContainer">

        <div class="formHeading row">
            <div class="heading">Billing Info</div>
            <div class="para col">

                <p>Please enter your billing info</p>
                <div class="steps">Step 1 of 4</div>
            </div>
        </div>
        <form class="col">
            <div class="row">
            <div class="userName inputRow">
                <label for="userName" class="paymentLabe">Name</label>
                <input type="text" id="userName" placeholder="Your Name" class="paymentMethodInput">
            </div>
            <div class="userAddress inputRow">
                <label for="address" class="paymentLabe">Address</label>
                <input type="" id="address" placeholder="Address" class="paymentMethodInput">
            </div>
        </div>
        <div class="row">
            <div class="userPhone inputRow">
                <label for="phoneNum" class="paymentLabe">Phone</label>
                <input type="tel" name="phoneNum" id="phoneNum" placeholder="Phone Number" class="paymentMethodInput">
            </div>
            <div class="userCity inputRow">
                <label for="city" class="paymentLabe">Town/City</label>
                <input type="text" id="city" placeholder="Town/City" class="paymentMethodInput">
            </div>
        </div>
    </form>
</div>
</div>