<section class="historyCarCard">
    <div class="carCardContainer col">
        <div class="carHis row">
            <div class="hisHeading col">
                <h2>Nissan GT - R</h2>
                <h3>Sport</h3>
            </div>
            <div class="carImg">
                <img src="./swift.png" alt="">
            </div>
            <div class="menueSpecific">
                <div class="gasolin"><img src="./petrol.png" alt=""><span>90L</span></div>
                <div class="manual"><img src="./staring.png" alt=""><span>Manual</span></div>
                <div class="profile"><img src="./profile.png" alt=""> <span>4</span><span>People</span></div>
            </div>
        </div>
        <div class="locationHis row">
            <div class="loc-re-rent-bnt col">
                <div class="cancel">
                    <span>Cancel</span>
                </div>
                <div class="returnBtn">
                    <button>Return</button>
                </div>
            </div>
            <div class="pickUpOffCont pickUp col">
                <div class="headingLoc pickUpHead row ">
                    <div class="heading1">London Bridge</div>
                    <div class="heading2">Pickup point</div>
                </div>
                <div class="day"><span>4</span> Days</div>
            </div>
            <div class="pickUpOffCont col">
                <div class="headingLoc row">
                    <div class="heading1">King George</div>
                    <div class="heading2">Drop Off</div>
                </div>
                <div class="price">$99.00</div>
            </div>
        </div>
    </div>
</section>