<section class="overlay">
    <!-- <div class="popup">
   <img src="./rec.png">
    </div> -->
    <div class="container popup">
        <div class="icon">
          <!-- Replace with your check icon -->
          <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M9 16.2l-3.5-3.5 1.4-1.4L9 13.4l7.1-7.1 1.4 1.4L9 16.2z" />
          </svg> -->
          <img src="./Check.png">
        </div>
        <div class="message">You have Subscribe Successfully</div>
        <div class="description">
          Now you will receive the latest information regarding Recent Calls and other opportunities.
        </div>
        <button class="button" (click)="continue()">Continue</button>
      </div>
</section>
  