
.dropdownContainer{
position: relative;
gap: 3rem;

    .dropdown{
        padding-top: 1.7rem;
        position: relative;
        .arrowIcon{
            /* width: 2rem; */
            position: absolute;
            right: 2rem;
            top: 1.7rem;
        }

    }
    ul{
        position: absolute;
        left: 0%;
        top: 6rem;
        width: 33rem;
        gap:.7rem;


    }
    .dropdownItem{
    padding-top: 1.5rem;
    transition: all .1s linear;
    font-family: Poppins;
    background-color: rgb(99, 100, 100);
    color: white;
    &:hover{
        background-color: rgb(207, 207, 206);
        color: black;
        cursor: pointer;
    }
    }
}

/* media query start from here  */
@media screen and (max-width: 1350px){

    .dropdownContainer .dropdown {
        padding-top: 1.7rem;
        position: relative;
        width: 32.6rem;
    }
}
@media screen and (max-width: 1250px){
    .dropdownContainer .dropdown {
        padding-top: 1.7rem;
        position: relative;
        width: 28rem;
        height: 5rem;
    }
}
@media screen and (max-width: 1100px){
    .dropdownContainer .dropdown {
        width: 24rem;
        height: 4.5rem;
    }
}
@media screen and (max-width: 992px){
    .dropdownContainer{
            .dropdown{
                padding-top: 1.3rem;
            }
}}
@media screen and (max-width: 800px){
    .dropdownContainer{
            .dropdown{
                padding-top: 1rem;
            }
}
.dropdownContainer .dropdown .arrowIcon {
    position: absolute;
    right: 2rem;
    top: 1rem;
}
}
@media  screen and (max-width:576px) {
    .formSelect {
        width: 14rem;
        height: 3rem;
    }
}
/* media query End from here  */