<section class="profileSection" [formGroup]="profileForm">
  <div class="profileContainer row">
    <div class="profileHeading col">
      <div class="profileImgContainer col">
        <div class="proImg">
          <img
            id="profilePreview"
            [src]="profilePreviewImage ? profilePreviewImage : './signInNav.png'"
            alt="Profile Picture"
          />
        </div>

        <div class="uploadBtn">
          <label for="profileUpload" class="proBtn">Upload Picture</label>
          <input
            type="file"
            id="profileUpload"
            (change)="onFileSelected($event)"
            accept="image/*"
            hidden
          />
        </div>
      </div>

      <div class="saveProfileBtn">
        <button class="proBtn" type="button" (click)="onSubmit()" [ngStyle]="{ 'background-color': isUpdated ? 'gray' : '#34A853' }">{{isUpdated? "Save Updation":"Save Profile"}}</button>
      </div>
    </div>

    <div class="formContainer">
      <form class="form row" [formGroup]="profileForm">
        <div class="col">
          <div class="fullName inputRow">
            <label for="fullName" class="paymentLabe">Full Name</label>
            <input
              type="text"
              id="fullName"
              class="paymentMethodInput"
              placeholder="Enter your full name"
              formControlName="fullName"
            />
          </div>

          <div class="email inputRow">
            <label for="email" class="paymentLabe">Email</label>
            <input
              type="text"
              id="email"
              class="paymentMethodInput"
              placeholder="Enter your email"
              formControlName="email"
            />
          </div>

          <div class="phone inputRow">
            <label for="phoneNum" class="paymentLabe">Phone</label>
            <input
              type="tel"
              id="phoneNum"
              class="paymentMethodInput"
              placeholder="Enter your phone number"
              formControlName="phone"
            />
          </div>
        </div>

        <div class="col">
          <div class="post inputRow">
            <label for="postCod" class="paymentLabe">Post</label>
            <input
              type="text"
              id="postCod"
              class="paymentMethodInput"
              placeholder="Enter your post code"
              formControlName="post"
            />
          </div>

          <div class="address inputRow">
            <label for="address" class="paymentLabe">Address</label>
            <input
              type="text"
              id="address"
              class="paymentMethodInput"
              placeholder="Enter your address"
              formControlName="address"
            />
          </div>

          <div class="genderSelectionContainer inputRow">
            <label class="paymentLabe">Gender</label>
            <div class="col genderSelection">
              <div class="genderMale col paymentMethodInput">
                <label for="male" class="paymentLabe">Male</label>
                <input
                  type="radio"
                  id="male"
                  value="Male"
                  formControlName="gender"
                />
              </div>

              <div class="genderFemale col paymentMethodInput">
                <label for="female" class="paymentLabe">Female</label>
                <input
                  type="radio"
                  id="female"
                  value="Female"
                  formControlName="gender"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="licenceContainer col">
    <div class="drivingLicence">
      <div class="drivingLicenceInput inputRow">
        <label for="licence" class="paymentLabe">Driving Licence</label>
        <input type="text" id="licence" class="paymentMethodInput" formControlName="drivingLicence" />
      </div>
    </div>

    <div class="licenceImgFront row">
      <div class="licenceHeading">Car Licence Front Image</div>
      <div class="licenceImgCont paymentMethodInput">
        <img
         [src]="licenceFrontPreviewImage ? licenceFrontPreviewImage : './licence.png'" 
         alt="licence front side Image"/>
      </div>
      <div class="upLoadLicenceImgBtn">
        <label for="licenceFrontUpload" class="proBtn">Upload Picture</label>
        <input
          type="file"
          id="licenceFrontUpload"
          (change)="onFileSelected($event)"
          accept="image/*"
          hidden
        />
      </div>
    </div>

    <div class="licenceImgBack row">
      <div class="licenceHeading">Car Licence Back Image</div>
      <div class="licenceImgCont paymentMethodInput">
        <img [src]="licenceBackPreviewImage ? licenceBackPreviewImage : './alina.png'" alt="licence back side Image" width="100%" />
      </div>
      <div class="upLoadLicenceImgBtn">
        <label for="licenceBackUpload" class="proBtn">Upload Picture</label>
        <input
          type="file"
          id="licenceBackUpload"
          (change)="onFileSelected($event)"
          accept="image/*"
          hidden
        />
      </div>
    </div>
  </div>
</section>
