<div class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <img [src]="user?.profileImageUrl" alt="Profile Picture" class="profile-image">
      <div class="profile-info">
        <h2>{{ user?.fullName}}</h2>
        <p>{{ user?.email }}</p>
        <p>{{ user?.phone }}</p>
      </div>
    </div>

    <div class="profile-section">
      <h3>Personal Information</h3>
      <div class="profile-details-grid">
        <div class="detail-item">
          <span class="label">Full Name</span>
          <span class="value">{{ user?.fullName }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Email</span>
          <span class="value">{{ user?.email }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Phone</span>
          <span class="value">{{ user?.phone }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Post</span>
          <span class="value">{{ user?.postCode }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Address</span>
          <span class="value">{{ user?.address }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Gender</span>
          <span class="value">{{ user?.gender }}</span>
        </div>
      </div>
    </div>

    <div class="profile-section">
      <h3>Driving & License Information</h3>
      <div class="license-grid">
        <div class="license-item">
          <span class="label">Driving Licence Number</span>
          <span class="value">{{ user?.drivingLicenseNo }}</span>
        </div>
        <div class="license-item">
          <span class="label">Car Licence Front Image</span>
          <img [src]="user?.licenseFrontImage" alt="Car Licence Front" class="license-img">
        </div>
        <div class="license-item">
          <span class="label">Car Licence Back Image</span>
          <img [src]="user?.licenseBackImage" alt="Car Licence Back" class="license-img">
        </div>
      </div>
    </div>

    <div class="action-btn">
      <button routerLink="/edit-profile" (click)="goToUpdateProfile()">Edit Profile</button>
    </div>
  </div>
</div>
