<section class="profileSection">
    <div class="profileContainer row">
        <div class="profileHeading col">

            <div class="profileImgContainer col">
                <div class="proImg">
                    <img src="./alina.png" alt="">
                </div>
                <div class="uploadBtn">
                    <button class="proBtn" >Upload Picture</button>
                    <!-- <input type="file" class="proBtn" placeholder="Upload Picture"> -->
                </div>
            </div>
            <div class="saveProfileBtn">
                <button class="proBtn">Save Profile</button>
            </div>
        </div>
        <div class="formContainer">
            <form class="form row">
                <div class="col">
                    <div class="fullName inputRow">
                        <label for="fullName" class="paymentLabe">Full Name</label>
                        <input type="text" id="fullName" class="paymentMethodInput" placeholder="Enter your full name">
                    </div>
                    <div class="email inputRow">
                        <label for="email" class="paymentLabe">Email</label>
                        <input type="text" id="email" class="paymentMethodInput" placeholder="Enter your email">
                    </div>
                    <div class="phone inputRow">
                        <label for="phoneNum" class="paymentLabe">Phone</label>
                        <input type="tel" id="phoneNum" class="paymentMethodInput" placeholder="Enter your phone number">
                    </div>
                </div>
                <div class="col">
                    <div class="post inputRow">
                        <label for="postCod" class="paymentLabe">Post</label>
                        <input type="text" id="postCod" class="paymentMethodInput" placeholder="Enter your post code">
                    </div>
                    <div class="address inputRow">
                        <label for="address" class="paymentLabe">Address</label>
                        <input type="text" id="address" class="paymentMethodInput" placeholder="Enter your email">
                    </div>
                    <div class="genderSelectionContainer inputRow">
                        <label for="gender" class="paymentLabe">Gender</label>
                        <div class="col genderSelection">
                            <div class="genderMale col paymentMethodInput">
                                <label for="male" class="paymentLabe">Male</label>
                               <input type="radio" name="male" id="male" >
                            </div>
                            <div class="genderFemale col paymentMethodInput">

                                <label for="female" class="paymentLabe">Female</label>
                            <input type="radio" name="female" id="female"  >
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="licenceContainer col">
        <div class="drivingLicence">
            <div class="drivingLicenceInput inputRow">
                <label for="address" class="paymentLabe">Driving Licence</label>
                <input type="text" id="address" class="paymentMethodInput">
            </div>
        </div>
        <div class="licenceImgFront  row">
            <div class="licenceHeading">Car Licence Front Image</div>

            <div class="licenceImgCont paymentMethodInput">
                <img src="./licence.png" alt="licence front side Image">
            </div>

            <div class="upLoadLicenceImgBtn">
                <button class="proBtn">Upload Picture</button>
            </div>
        </div>
        <div class="licenceImgBack  row">

            <div class="licenceHeading">Car Licence Front Image</div>

            <div class="licenceImgCont paymentMethodInput">
                <img src="./alina.png" alt="licence back side Image" width="100%">
            </div>

            <div class="upLoadLicenceImgBtn">
                <button class="proBtn">Upload Picture</button>
            </div>
        </div>
    </div>
</section>
